# Python
__pycache__/
*.pyc
venv/
.env
.env.save
.env.bak

# Database
data/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Docker
.dockerignore

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Environment files: ignore all env variants but keep the example
.env*
!.env.example
